
.image-placeholder {
  height: 120px;
  background-color: #eee;
  margin-bottom: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.productCard:hover {
  transform: translateY(-5px);
}

.productCard button {
  width: 100%;
  margin-top: 10px;
}
.product-title {
  min-height: 150px;
}
.product-card-image {
  width: 100%;
  height: 250px;
  object-fit: contain;
}

.productCard {
  width: 220px;
  height: 650px;

  display: flex;
  flex-direction: column;

  padding: 20px;
  background-color: var(--card-bg);
  color: var(--text-color);
  border-radius: 10px;
  transition: transform 0.2s ease;
}

.product-content {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.add-cart-btn {
  margin-top: auto;
}

.productCard:hover {
  transform: translateY(-4px);

  box-shadow:
    0 10px 25px rgba(0,0,0,0.12);
}

.productCard a {
  color: var(--text-color);
  text-decoration: none;
}