.page-container {
  max-width: 900px;
  margin: 40px auto;
  padding: 30px;

  background: var(--card-bg);
  color: var(--text-color);

  border-radius: 16px;

  line-height: 1.8;
}

.page-container h1 {
  margin-bottom: 20px;
}

.page-container h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.page-container p {
  margin-bottom: 12px;
}